<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add homework</title>
    <link rel="stylesheet" href="../Content/stylesheets/app.css" />
    <script src="../Scripts/vendor/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>    
    <div class="page-wrapper">
      <header> 
        <div class="row"><div class="logo">EasyTeach</div></div>     
      </header>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">

          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="javascript:void(0)">Menu</a></li>
        </ul>
        <section class="top-bar-section row">
          <ul class="left">
            <li><a href="./registration.html">Студенты</a></li>
            <li class="divider"></li>
            <li><a href="./grid.html">Таблица с баллами</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#">Список заданий</a></li>
            <li class="divider"></li>
            <li><a href="./homeworks.html">Выполненые задания</a></li>
            <li class="divider"></li>
            <li><a href="#">Тесты</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
      <div class="page-content"> 
        <form class="row">
          <div class="large-6 medium-6 columns">
            <h3>Добавить задание</h3>
            <div class="row">
              <div class="large-10 columns">
              <input type="File" placeholder="Add file"/>
              <!-- if description is empty use the name of the file -->
              <textarea type="password" placeholder="Description"></textarea>
            </div>   
            <div class="large-2 columns">
              <a href="#" class="button small add-homework-button">Add</a>
            </div>            
            </div>
            
          </div>
        </form>
        <div class="row">
            <h3>Выполненые задания</h3>
            <dl class="tabs" data-tab>
              <dd class="active"><a href="#first-term">1 семестр</a></dd>
              <dd><a href="#second-term">2 семестр</a></dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="first-term">
                <dl class="accordion" data-accordion>
                  <dd class="active">
                    <a href="#panel1"><span>04.04.2014</span> <img class="download-all-homeworks-button"src="../Content/image/download_icon.png" /></a>
                    <div id="panel1" class="content active">
                      <ul class="no-bullet">
                        <li><span>List item with a much longer description or more content.</span> <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li><span>List item</span> <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li><span>List item</span> <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li><span>List item</span> <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li><span>List item</span> <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                       </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#panel2"><span>11.04.2014</span> <img class="download-all-homeworks-button"src="../Content/image/download_icon.png" /></a>
                    <div id="panel2" class="content">
                      <ul class="no-bullet">
                        <li>List item with a much longer description or more content. <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li>List item</li>
                        <li>List item</li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#panel3"><span>18.04.2014</span> <img class="download-all-homeworks-button"src="../Content/image/download_icon.png" /></a>
                    <div id="panel3" class="content">
                      <ul class="no-bullet">
                        <li>List item <img class="download-single-homework-button" src="../Content/image/single_download_icon_blue.png" /></li>
                        <li>List item</li>
                        <li>List item</li>
                      </ul>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="content" id="second-term">
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="copyright">&copy; mmf 2014</div>
      </div>
    </footer>
    <script src="../Scripts/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../Scripts/vendor/bower_components/foundation/js/foundation.min.js"></script>
    <script src="../Scripts/vendor/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="../Scripts/app/app.js"></script>
  </body>
</html>
