<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homeworks</title>
    <link rel="stylesheet" href="../Content/stylesheets/app.css" />
    <script src="../Content/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>    
    <div class="page-wrapper">
      <header> 
        <div class="row"><div class="logo">WEB MMF</div></div>     
      </header>
      <div class="content"> 
        <div class="row">
            <dl class="tabs" data-tab>
              <dd class="active"><a href="#panel2-1">1 семестр</a></dd>
              <dd><a href="#panel2-2">2 семестр</a></dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="panel2-1">
                <p>First panel content goes here...</p>
              </div>
              <div class="content" id="panel2-2">
                <p>Second panel content goes here...</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="copyright">&copy; mmf 2014</div>
      </div>
    </footer>
    <script src="../Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../Content/bower_components/foundation/js/foundation.min.js"></script>
    <script src="../Content/js/app.js"></script>
  </body>
</html>
