<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homeworks</title>
    <link rel="stylesheet" href="../Content/stylesheets/app.css" />
    <script src="../Content/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>    
    <div class="page-wrapper">
      <header> 
        <div class="row"><div class="logo">WEB MMF</div></div>     
      </header>
      <div class="page-content"> 
        <div class="row">
            <dl class="tabs" data-tab>
              <dd class="active"><a href="#first-term">1 семестр</a></dd>
              <dd><a href="#second-term">2 семестр</a></dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="first-term">
                <dl class="accordion" data-accordion>
                  <dd class="active">
                    <a href="#panel1">04.04.2014 - 10.04.2014</a>
                    <div id="panel1" class="content active">
                      <ul class="no-bullet">
                        <li>List item with a much longer description or more content.</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                       </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#panel2">11.04.2014 - 17.04.2014</a>
                    <div id="panel2" class="content">
                      <ul class="no-bullet">
                        <li>List item with a much longer description or more content.</li>
                        <li>List item</li>
                        <li>List item</li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#panel3">18.04.2014 - 24.04.2014</a>
                    <div id="panel3" class="content">
                      <ul class="no-bullet">
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                      </ul>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="content" id="second-term">
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="copyright">&copy; mmf 2014</div>
      </div>
    </footer>
    <script src="../Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../Content/bower_components/foundation/js/foundation.min.js"></script>
    <script src="../Content/js/app.js"></script>
  </body>
</html>
