<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registration</title>
		<link rel="stylesheet" href="../Content/stylesheets/app.css" />
		<!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
	</head>
	<body>
		<div class="page-wrapper">
			<header>
				<div class="row"><div class="logo">WEB MMF</div></div>
			</header>
			<div class="page-content">
				<div class="row">
					<form id="user-registration-form">
						<div class="large-6 medium-6 columns">
							<div class="large-8 medium-8">
								 <div class="login-wrapper">
									<label>Year</label>
									<input type="number" placeholder="Year" name="year" required/>
									<label>Course</label>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<label>Group</label>
									<input type="number" min="1" placeholder="Group" name="group" required/>
								</div>
							</div>
						</div>
						<div class="large-6 medium-6 columns">
								<div class="large-8 medium-8">
										<div class="login-wrapper">
											<label>Name</label>
											<input type="text" placeholder="Name" name="name" required/>
											<label>Surname</label>
											<input type="text" placeholder="Surname" name="surname" required/>
											<label>Email</label>
											<input type="email" placeholder="Email" name="email" required/>
										</div>
								</div>
						</div>
						<button id="create-user-button">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="copyright">&copy; mmf 2014</div>
			</div>
		</footer>
		<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
		<!-- <script src="bower_components/foundation/js/foundation.min.js"></script> -->
		<script src="../Content/vendor/jquery-1.9.1.min.js"></script>
		<script src="../Content/vendor/jquery.validate.min.js"></script>
		<script src="../Content/js/app.js"></script>
	</body>
</html>
