<form id="user-registration-form" method="post">
    <div class="error-message"><%= obj.errorMessage %></div>
    <div class="row">
        <div class="large-6 medium-6 columns">
            <div class="large-8 medium-8">
                <label>Год</label>
                <input type="number" placeholder="Год" name="year" required />
                <label>Группа</label>
                <input type="number" min="1" placeholder="Группа" name="groupNumber" required />
                <label>Почта</label>
                <input type="email" placeholder="Почта" name="email" required />
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="large-8 medium-8">
                <label>Имя</label>
                <input type="text" placeholder="Имя" name="firstName" required />
                <label>Фамилия</label>
                <input type="text" placeholder="Фамилия" name="lastName" required />
            </div>
        </div>
    </div>
    <button id="create-user-btn" class="easy-teach-btn">Создать</button>
</form>
