<div class="large-4 medium-4 columns">
    <div class="error-message"><%= obj.errorMessage %></div>
	<form id="set-password-form">
		<label>Пароль</label>
		<input type="password" name="newPassword" placeholder="Пароль" value="<%= obj.newPassword %>" required />
		<label>Подтвердить пароль</label>
		<input type="password" name="confirmNewPassword" placeholder="Подтвердить пароль" value="<%= obj.confirmNewPassword %>" required />
		<button id="set-password-btn" class="easy-teach-btn">Подтвердить</button>
	</form>
</div>