<header>
    <div class="row">
        <div class="logo">EasyTeach</div>
    </div>
</header>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name"></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="javascript:void(0)">Menu</a></li>
    </ul>
    <section class="top-bar-section row">
        <ul class="left">
            <li class="active"><a href="#">Студенты</a></li>
            <li class="divider"></li>
            <li><a href="./grid.html">Таблица с баллами</a></li>
            <li class="divider"></li>
            <li><a href="./add_homework.html">Список заданий</a></li>
            <li class="divider"></li>
            <li><a href="./homeworks.html">Выполненные задания</a></li>
            <li class="divider"></li>
            <li><a href="#">Тесты</a></li>
            <li class="divider"></li>
        </ul>
    </section>
</nav>
<div id="content" class="page-content">
</div>


