<header>
    <div class="row">
        <div class="large-10 medium-8 columns">
            <div class="logo">EasyTeach</div>
        </div>
        <div class="large-2 medium-4 columns">
            <div class="logout-wrapper"></div>
        </div>
    </div>
</header>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name"></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="javascript:void(0)">Menu</a></li>
    </ul>
    <section id="menu" class="top-bar-section row">
    </section>
</nav>
<div id="content" class="page-content">
</div>
