<form class="question-form" method="post">
	<label>Вопрос</label>
	<input type="text" name="questionText" placeholder="Вопрос">
	<div class="answer">
		<label>Выберите тип</label>
		<div class="question-type">
			<span class="question-option"><input type="radio" name="questionType" value="Text">Текст</span>
			<span class="question-option"><input type="radio" name="questionType" value="Select">Radio button</span>
			<span class="question-option"><input type="radio" name="questionType" value="MultiSelect">Checkbox</span>
		</div>
		<input type="hidden" name="questionType" value="Text">
		<div class="answer-container">
			<div class="answer-helper"></div>
			<!-- <input type="text" class="answer" placeholder="Ответ"> -->
			<span class="btn easy-teach-btn add-option-btn">Новый вариант ответа</span>
		</div>
		<button class="update-question-btn easy-teach-btn">Сохранить</button>
	</div>
</form>