<div class="row">
    <div class="large-8 columns">
        <table>
            <tbody>
                <thead>
                    <th>1 курс 2 группа</th>
                </thead>
                <tr>
                    <td>Name/ Surname</td><td>05.04</td><td>12.04</td><td>19.04</td><td>26.04</td><td>03.05</td><td>10.05</td><td>17.05</td><td>24.05</td><td>31.05</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-4 columns">
        <div class="custom-button"><img src="../Content/image/download.png" /> Download all</div>
        <div class="custom-button"><img src="../Content/image/single_download.png" /> Download</div>
        <div class="custom-button"><img src="../Content/image/email.png" /> Email</div>
    </div>
</div>