<div class="row">
    <div class="large-12 columns">
        <table>
            <tbody>
                <thead>
                    <th>1 курс 2 группа</th>
                </thead>
                <tr>
                    <td>Name/ Surname</td><td>05.04</td><td>12.04</td><td>19.04</td><td>26.04</td><td>03.05</td><td>10.05</td><td>17.05</td><td>24.05</td><td>31.05</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
                <tr>
                    <td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>