@{
    ViewBag.Title = "Groups";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Groups</h1>
            </hgroup>
            <div id="Grid" style="height: 380px"></div>
        </div>
    </section>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#Grid").kendoGrid({
                columns: [
                    { field: "GroupNumber", title: "Group Number", width: "100px" },
                    { field: "Year", title: "Year", width: "50px" },
                    { field: "ContactEmail", title: "Contact Email", width: "150px" },
                    { field: "ContactPhone", title: "Contact Phone", width: "100px" },
                    { field: "ContactName", title: "Contact Name", width: "100px" },
                    { command: "edit", title: "Edit", width: "110px" },
                    { command: "destroy", title: "Delete", width: "110px" }
                ],
                pageable: true,
                pageSize: 5,
                sortable: true,
                filterable: true,
                editable: "popup",
                toolbar: ["create"],
                dataSource: {
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 5,
                    type: "odata",
                    schema: {
                        data: function(response) {
                            if (response.value !== undefined)
                                return response.value;
                            else {
                                delete response["odata.metadata"];
                                return response;
                            }
                        },
                        total: function(response) {
                            return response['odata.count'];
                        },
                        model: {
                            id: "GroupId",
                            fields: {
                                GroupId: { editable: false, type: "number" },
                                GroupNumber: { nullable: false, type: "number"},
                                Year: { nullable: false, type: "number" },
                                ContactEmail: { type: "string", nullable: true },
                                ContactPhone: { type: "string", nullable: true },
                                ContactName: { type: "string", nullable: true }
                            }
                        },
                    },
                    batch: false,
                    error: error,
                    transport: {
                        create: {
                            url: "/odata/Groups",
                            contentType: "application/json",
                            type: "POST",
                            complete: function () {
                                $('#Grid').data('kendoGrid').dataSource.read();
                            }
                        },
                        read: {
                            url: "/odata/Groups",
                            dataType: "json",
                            contentType: "application/json"
                        },
                        update: {
                            url: function(record) {
                                return "/odata/Groups" + "(" + record.GroupId + ")";
                            },
                            dataType: "json",
                            contentType: "application/json",
                            type: "PUT",
                            headers: { Prefer: "return-content" },
                            complete: function () {
                                $('#Grid').data('kendoGrid').dataSource.read();
                            }
                        },
                        destroy: {
                            url: function(record) {
                                return "/odata/Groups" + "(" + record.GroupId + ")";
                            },
                            contentType: "application/json",
                            type: "DELETE"
                        },
                        parametermap: function(data, operation) {
                            console.log(data);
                            if (operation === "read") {
                                var parammap = kendo.data.transports.odata.parametermap(data);
                                return parammap;
                            }
                            return json.stringify(data);
                        }
                    }
                }
            });


        });

        function error(e) {
            if (e.errorThrown === "Bad Request") {
                var response = JSON.parse(e.xhr.responseText);
                console.log(response);
                if (response['odata.error'] != undefined) {
                    alert(response['odata.error'].message.value)
                }
            } else {
                alert(e.status + ": " + e.errorThrown)
            }
        };
    </script>
}

