<div class="page-content">
    <div class="row">
        <div class="large-4 medium-4 columns">
            <div class="login-wrapper">
                <label>Login</label>
                <input type="email" placeholder="Login" />
                <label>Password</label>
                <input type="password" placeholder="Password" />
                <button class="button small">Login</button>
            </div>
        </div>
        <div class="large-8 medium-4 columns">
            <div class="image-container">
                <!--<img src="image/icon_css.png" alt="">-->
            </div>
        </div>
    </div>
</div>
